:root {
 
  --primary: #2C3947;     
  --secondary: #C2A56D;    
  --accent: #2C3947;   
  
  
  --bg-primary: #E8EDF2;
  --bg-secondary: #2C3947;
  --bg-card: #547A95;   
  

  --text-primary: #fff;
  --text-secondary: #000000;
  --text-light: #ffffff;  
  

  --success: #64ffda;
  --error: #ff6b6b;
  --warning: #ffd93d;
}